.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.aboutImg {
    width: 200px;
    /*min-width: 250px;*/
    height: 250px;
    margin: 0 5% 5% 0;
    position: relative;
}
#about-text {
    width: 55%;
}
#about-text p {
    font-size: 1em;
}
#about-text .link-button {
    width: 300px;
    padding: 18px 14px;
}
.education-img {
    width: 20%;
    height: auto;
}

@media screen and (max-width: 881px){
    .about img {
        width: 100%;
    }
    #about-text {
        width: 100%;
    }
}
@media screen and (max-width: 415px){
    #about-text .link-button {
        width: 150px;
    }
}