.works {
    justify-content: space-around;
}
.project-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
}
.project-img-container {
    width: 100%;
    height: 190px;
    margin: 0 auto 30px auto;
    border: 1px solid rgb(154, 156, 158);
    position: relative;
    overflow: hidden;
}
.project-block-img {
    width: 100%;
    height: 100%;
}
.middle {
    width: 100%;
    /*height: 100%;*/
    background-color: gray;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 190px;
    transition: opacity .4s;
}
.middle a {
    display: block;
    width: 100%;
    height: 100%;
}
.more-detail {
    color: white;
    border: 2px solid rgb(0, 152, 212);
    border-radius: 6px;
    padding: 10px 15px;
    display: block;
    padding: 2% auto;
    text-align: center;
    width: 50%;
    position: absolute;
    bottom: -50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    transition: 0.5s ease-out;
}
.more-detail i {
    transition: transform 0.5s;
}
.more-detail:hover i {
    transform: translateX(7px);
}
.project-img-container:hover .middle {
    opacity: 0.8;
}
.project-img-container:hover .more-detail {
    bottom: 40%;
    visibility: visible;
}
.project-block p, .project-block h2 {
    text-align: center;
    width: 90%;
}

.demo-link {
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
}

@media screen and (max-width: 1040px){
    .project-block {
        width: 48%;
    }
    .project-img-container {
        width: 240px;
    }
}
@media screen and (max-width: 735px){
    .project-block {
        width: 90%;
    }
    .project-img-container {
        width: 240px;
    }
}